/* #################### MAIN #################### */

#section-banner-principal{
    background-repeat:no-repeat;
    background-position:top center;
    background-size:auto 100%;
    width:100%;
    height:685px;
    float:left;
    overflow:hidden;
}

#imagem-banner-principal{
    width:100%;
    height:calc(100% - 147px);
    float:left;
    padding-top:260px;
    overflow:hidden;
}

#imagem-banner-principal h2{
    font-weight:bold;
    color:#fff;
    font-size:70px;
    text-transform:uppercase;
    text-align: center;
}

#imagem-banner-principal h3{
    font-weight:bold;
    color:#fff;
    font-size:30px;
    padding-top:25px;
    text-transform:uppercase;
    text-align: center;
}

#texto-banner-principal{
    background-image:url(../imagens/bg1-home.jpg);
    background-repeat:no-repeat;
    background-position:top center;
    background-size:auto 100%;
    width:100%;
    height:147px;
    float:left;
    padding-top:30px;
    overflow:hidden;

}

#texto-banner-principal p{
    color:#fff;
    font-size:20px;
    text-align:center;
}


#section-noticias{
    width:100%;
    float:left;
    overflow:hidden;
    padding-bottom:50px;
}

#section-noticias h2{
    width:100%;
    float:left;
    margin-top:45px;
    margin-bottom:25px;
    font-size:40px;
    color:#000;
    text-transform:uppercase;
}

.reg-noticias{
    width:100%;
    float:left;
    overflow:hidden;
}

.reg-noticias a{
    width:100%;
    float:left;
}

.data-reg-noticias{
    background-color:#CC3B7F;
    color:#fff;
    float:left;
    font-size:16px;
    margin-top:30px;
    position: absolute;
    padding: 6px 10px;
}
                                
                                


.img-reg-noticias{
    width:100%;
    float:left;
    overflow:hidden;
}

.img-reg-noticias figure{
    width:100%;
    float:left;
}

.img-reg-noticias figure img{
    width:100%;
    float:left;
}

.img-reg-noticias figure figcaption{
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
    width:100%;
    height:200px;
    float:left;
    margin-top:-200px;
    overflow:hidden;
}

.img-reg-noticias figure figcaption h3{
    color:#fff;
    font-size:18px;
    line-height:23px;
    text-shadow:1px 1px 1px #000;
    text-transform:uppercase;
    float:left;
    padding:115px 20px 0px 20px;
}

.dados-reg-noticias{
    width:100%;
    height:130px;
    float:left;
    padding-top:17px;
    overflow:hidden;
}
.dados-reg-noticias p{
    color:#666;
}






#box-destaques-main{
    width:100%;
    float:left;
    overflow:hidden;
}

#control-slick-destaques-main{
    width:100%;
    float:left;
    padding-left:20px;
    padding-right:20px;
    height:0px;
    z-index:9;
    position:relative;
}

#control-slick-destaques-main a{
    margin-top:23%;
}

#voltar-slick-destaques-main{
    float:left;
}

#avancar-slick-destaques-main{
    float:right;
}


#slick-destaques-main, 
.reg-destaques-main{
    width:100%;
    float:left;
    overflow:hidden;
}

#slick-destaques-main .slick-arrow{
    display:none !important;
}

.reg-destaques-main h3{
    color:#2770bf;
    font-size:20px;
    line-height:25px;
    text-transform:uppercase;
}

.link-detalhes-destaque{
    background-color:#CC3B7F;
    float:left;
    color:#fff;
    font-size:17px;
    text-transform:uppercase;
    padding:10px 20px 10px 20px;
    border:0px;
    margin-top:15px;
}


#box-eventos-main{
    width:100%;
    float:left;
    overflow:hidden;
}

.reg-eventos{
    width:100%;
    float:left;
    margin-bottom:10px;
    overflow:hidden;
}

.reg-eventos a{}

.img-reg-eventos{
    background-color:#CC3B7F;
    width:41px;
    height:59px;
    float:left;
    padding-top:13px;
    overflow:hidden;
    text-align: center;
}

.dados-reg-eventos{
    background-color:#2770bf;
    width:calc(100% - 46px);
    height:59px;
    float:left;
    margin-left: 5px;
    padding-top:13px;
    overflow:hidden;
}

.dados-reg-eventos h3{
    color:#fff;
    font-size:18px;
    font-weight:normal;
    float:left;
    margin:8px 0px 0px 15px;
    text-transform:uppercase;
}



#box-newsletter-main{
    width:100%;
    float:left;
    overflow:hidden;
}

#box-newsletter-main h4{
    text-transform:uppercase;
    margin:0px;

}

#form-news{
    padding-top:30px;
}

#form-news input{
    background-color:#DEDFE3;
    width:100%;
    height:59px;
    float:left;
    padding-left:15px;
    margin-bottom:10px;
    overflow:hidden;
    border:1px solid #999;
    font-size:18px;
}

#btn-news{
    float:right;
    border:0px;
    padding:0px;
}

#btn-news div{
    background-color:#CC3B7F;
    width:38px;
    height:59px;
    padding-top:18px;
    float:left;
    overflow:hidden;
}
#btn-news span{
    background-color:#2770bf;
    width:calc(100% - 38px);
    height:59px;
    float:left;
    padding:15px 17px 0px 17px;
    color:#fff;
    font-size:20px;
    overflow:hidden;
}

#link-loja-main{
    width:100%;
    float:left;
    margin-top:30px;
    overflow:hidden;
}


#link-loja-main a img{
    float:left;
}
#link-loja-main a strong{
    width:calc(100% - 237px);
    float:left;
    color:#000;
    padding-top:20px;
    font-weight:bold;
    text-transform:uppercase;
    font-size:30px;
}
#link-loja-main a span{
    width:calc(100% - 237px);
    float:left;
    color:#000;
    padding-top:17px;
    font-weight:bold;
    text-transform:uppercase;
    font-size:18px;
}


#section-links-main{
    background-image:url(../imagens/img-main1.jpg);
    background-repeat:no-repeat;
    background-position:top center;
    background-size:auto 100%;
    width:100%;
    height:565px;
    float:left;
    overflow:hidden;
}

#section-links-main h3{
    width:100%;
    float:left;
    padding-top:110px;
    margin-bottom:0px;
    font-size:60px;
    color:#fff;
    text-transform:uppercase;
}

#section-links-main h4{
    width:100%;
    float:left;
    font-size:38px;
    color:#fff;
    font-weight:400;
    text-transform:uppercase;
}

#section-links-main p{
    width:100%;
    float:left;
    padding-top:30px;
    padding-bottom:30px;
    font-size:18px;
    color:#fff;
    font-weight:400;
    text-transform:uppercase;
}

#section-links-main a{
    background-color:#CC3B7F;
    float:left;
    color:#fff;
    font-size:17px;
    text-transform:uppercase;
    padding:10px 20px 10px 20px;
}



#section-parceiros-main{
    width:100%;
    float:left;
    overflow:hidden;
    padding-bottom:30px;
}

#section-parceiros-main h2{
    width:100%;
    float:left;
    margin-top:40px;
    margin-bottom:30px;
    font-size:37px;
    color:#000;
    text-transform:uppercase;
}

#voltar-slick-parceiros-main{
    width:28px;
    display:block;
    margin: 40px auto 0px;
}

#slick-parceiros-main{
    width:100%;
    float:left;
    overflow:hidden;
}

#slick-parceiros-main .slick-arrow{
    display:none !important; 
}

#slick-parceiros-main a{
    width:100%;
    float:left;
    text-align:center;
}

#slick-parceiros-main a img{
    display:initial;
}  

#avancar-slick-parceiros-main{
    width:28px;
    display:block;
    margin: 40px auto 0px;
}

/* #################### MAIN #################### */